{% extends 'blog/base.html' %}
{% block main-area %}

{% load static %}
<!-- Page content-->

 <!-- Post content-->
    <article>
        <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">
                글쓴날: {{ post.created_date }},
{#                글쓴이: {{ post.author.first_name }}#}
                글쓴이: {{ post.author }}

            </div>
            <!-- Post categories-->

            <!-- 카테고리는 있을 수도 있고 없을 수도 있다 -->
            {% if post.category.name %}
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">
                    {{ post.category.name }}
                </a>
            {% else %}
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">
                    미분류
                </a>
            {% endif %}


        {# 글삭제 버튼#}
        <div style="text-align: right;">
            <a class="btn btn-success" href="/blog/{{ post.pk }}/update">글수정</a>
            <a class="btn btn-danger" href="/blog/{{ post.pk }}/delete">글삭제</a>
        </div>

        </header>

        {% if post.uploaded_file %}
         <button><a href={{ post.uploaded_file.url }} download>다운로드 : {{ post.uploaded_file.name }}</a></button>
        {% endif %}

        <!-- Preview image figure-->
        <figure class="mb-4">
            {% if post.uploaded_image %}
                <img class="img-fluid rounded"
                    src={{ post.uploaded_image.url }} alt="..." />
            {% else %}
                <img class="img-fluid rounded"
                    src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." />
            {% endif %}
        </figure>

        <!-- Post content-->
        <section class="mb-5">
            <p class="fs-5 mb-4"> {{ post.content }} </p>

        </section>
    </article>
    <!-- Comments section-->
    <section class="mb-5">
        <div class="card bg-light">
            <div class="card-body">

                <!-- Comment form-->
{#              댓글 작성#}
                <form method="post"  action="{% url 'comment_create' post.pk %}" class="mb-4">
                    {% csrf_token %}

{#                    name을 사용하여 views.py에서 로직을 만들때 이 textarea를 활용할 수 있도록 한다 #}
                    <textarea name="content" class="form-control" rows="3"></textarea>

{#                    댓글 작성 -> 댓글작성 버튼을 누르면 save #}
                    <div style="text-align: right">
                        <input class="btn btn-primary" type="submit" value="댓글작성">
                    </div>
                </form>


                {% for comment in comments %}
{#                <!-- Comment with nested comments-->#}
                <div class="d-flex mb-4">
                    <!--comment-->
                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>

                    <div class="ms-3">
                        <div class="fw-bold">
                                {{ comment.author }}
                        </div>

                        {{ comment.content }}

    {#                    댓글 수정 및 삭제 -> comment_updateform 으로 이동 #}
                        <div style="text-align: right;">
                            <a class="btn btn-success" href="/blog/{{ comment.pk }}/comment_update">댓글수정</a>
                            <a class="btn btn-danger" href="/blog/{{ comment.pk }}/comment_delete">댓글삭제</a>
                        </div>

                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
    </section>

{% endblock %}

{% block writing-area %}
    <button><a href="/blog/create/">글쓰기</a></button>
{% endblock %}

{% block header-area %}
        <h1 class="fw-bolder">안녕 여기는 블로그 상세페이지야</h1>
        <p class="lead mb-0">환영해!</p>
{% endblock %}