
{% extends 'single_pages/base.html' %}

{% block main-area %}
{% load static %}

<div class="container">
        <div class="row">
            <div class="col-9">
                <h1>내🐮🐶이다.</h1>
                <h1>난 Hay, 햄스터다.</h1>
                <h1>오늘은 8월 01일이다.</h1>
                <img src={% static 'single_pages/food.gif' %}>
            </div>
            <div class="col-3">
                <h1>오늘 점심은 편의점에서</h1>
                <h1>오늘 저녁은 치킨?</h1>
                <p >바나나 파인애플 망고 딸기 스무디
                    바나나 파인애플 망고 딸기 스무디
                    바나나 파인애플 망고 딸기 스무디
                    바나나 파인애플 망고 딸기 스무디
                    바나나 파인애플 망고 딸기 스무디
                    바나나 파인애플 망고 딸기 스무디
                    바나나 파인애플 망고 딸기 스무디
                </p>
                <br>
                <img src={% static 'single_pages/me.jpg' %} width="300" style="border-radius: 400px;">
            </div>

        </div>
    </div>

{%  endblock %}


{% block header-area %}
        <h1 class="fw-bolder">나를 소개합니다~~</h1>
        <p class="lead mb-0">난 나야</p>
{% endblock %}