
{% extends 'single_pages/base.html' %}


{% block main-area %}
{% load static %}


    <marquee scrollamount="10"><img src={% static 'single_pages/run.gif' %}></marquee>
    <marquee scrollamount="20"><img src={% static 'single_pages/run.gif' %}></marquee>
    <marquee scrollamount="30"><img src={% static 'single_pages/run.gif' %}></marquee>
    <marquee scrollamount="40"><img src={% static 'single_pages/run.gif' %}></marquee>
    <marquee scrollamount="50"><img src={% static 'single_pages/run.gif' %}></marquee>
    <marquee scrollamount="60"><img src={% static 'single_pages/run.gif' %}></marquee>


{% endblock %}

{% block header-area %}
        <h1 class="fw-bolder">이곳은 랜딩페이지</h1>
        <p class="lead mb-0">환영한다!</p>
{% endblock %}